@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Outfit:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

:root {
  --hover-color: #2db4da;
}

body {
  opacity: 0;
  transition: all 700ms ease;
}

.fade {
  animation: fadeIntro 3s ease both;
}

@keyframes fadeIntro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.HighLighted {
  margin: 0;
  font-size: 2.5rem;
  border-bottom: solid 5px rgba(105, 142, 45, 0.4);
  box-sizing: border-box;
}

.HighLighted:after {
  content: "";
}

.paragraph {
  font-family: "Baloo 2", cursive;
  font-size: 1.4rem;
  text-align: center;
}

li {
  list-style: none;
}

body {
  background: #f2f2f2;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
}

.navBar {
  z-index: 99999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 100%;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 350ms ease;
}

.logo {
  height: 70px;
  transition: all 350ms ease both;
}

.navItems {
  display: flex;
  gap: 2em;
}

.navItems li {
  text-transform: uppercase;
  cursor: pointer;
}

.navItems li:hover {
  color: var(--hover-color);
}

.hero {
  padding: 80px 0 20px 0;
  height: auto;
}

.hero-elements {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  width: 50%;
}

.hero-text .title {
  color: #698e2d;
  font-size: 3rem;
}

.art {
  flex: 0 0 30%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.results-section {
  padding: 60px 0;
  height: auto;
  margin-top: 80px;
  background: #1f503e;
  background-image: url("./assets/sectionBg.png");
  background-blend-mode: exclusion;
  transition: opacity 6s ease;
}

.result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 90%;
}

.result-box .title {
  color: white;
  font-weight: 400;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  flex: 0 0 35%;
  height: 100%;
}

.card {
  border-radius: 14px;

  opacity: 0;
  flex: 0 0 40%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: 0.5s ease;
}

.card-text {
  font-weight: 100;
  font-size: 1.4rem;
  text-align: center;
}

.card-number {
  color: #1f503e;
  font-family: "baloo 2", sans-serif;
  font-weight: 500;
  font-size: 3em;
}

.show {
  animation: cardEnter 2500ms ease both;
}

.show:nth-child(3) {
  animation: cardEnter 3500ms ease both;
}

.show:nth-child(4) {
  animation: cardEnter 3500ms ease both;
}

.callToAction-wrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  transition: opacity 2s ease;
}

.about {
  padding-top: 30px;
  border: solid 2px black;
  height: auto;
  display: flex;
  justify-content: center;
}

.about-resume {
  width: 60%;
  text-align: center;
}

footer {
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  height: 250px;
}

/*KINDLE E MONITORES COM RESOLUÇÃO BAIXA */

@media only screen and (max-width: 1000px) {
  .hero-text {
    width: 70%;
    padding: 0 2em;
  }
  .result-box {
    flex-direction: column;
    justify-content: flex-start;
  }
}

/*TABLET - IPAD  */

@media only screen and (max-width: 700px) {
  .hero-text {
    width: 95%;
    padding: 0 2em;
    order: 2;
  }
  .hero-elements {
    flex-direction: column;
  }
}

/*SMARTPHONE*/

@media only screen and (max-width: 480px) {
  .hero-text {
    padding: 0 1em;
  }

  .title {
    font-size: 2rem;
  }

  .card {
    flex: 0 0 95%;
  }

  .about-resume {
    width: 100%;
    padding: 0 0.8em;
  }
}

@keyframes cardEnter {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
