@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Outfit:wght@100;300;400;500&display=swap");

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

#menuToggle {
  display: none;
}

:root {
  --hover-color: #2db4da;
}

body {
  opacity: 0;
  transition: all 700ms ease;
}

.fade {
  animation: fadeIntro 3s ease both;
}

@keyframes fadeIntro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.HighLighted {
  margin: 0;
  font-size: 2.5rem;
  border-bottom: solid 5px rgba(105, 142, 45, 0.4);
  box-sizing: border-box;
}

.paragraph {
  font-family: "Baloo 2", cursive;
  font-size: 1.4rem;
  text-align: center;
}

.linkHi {
  font-weight: 500;
  font-size: 1.4rem;
  color: #1f503e;
  border-bottom: solid 2px white;
  transition: all 350ms ease both;
}

.linkHi:hover {
  color: white;
  border-bottom: solid 2px #1f503e;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #f2f2f2;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
}

.navBar {
  z-index: 99999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 100%;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 350ms ease;
  background: #f2f2f2b6;
}

.logo {
  height: 70px;
  transition: all 350ms ease both;
}

.navItems {
  display: flex;
  gap: 2em;
}

.navItems li {
  text-transform: uppercase;
  color: #1f503e;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  transition: all 350ms ease;
}

.navItems li:hover {
  color: var(--hover-color);
}

.hero {
  padding: 80px;
  height: auto;
  background: #698e2d42;
}

.hero-bg {
  height: 450px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 56.5%;
  background-image: url("./assets/hero.png");
  background-repeat: no-repeat;
  opacity: 0.5;
  transform: scaleX(-1);
}

.hero-elements {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100%;
  width: 50%;
}

.hero-text .title {
  color: #698e2d;
  font-size: 3rem;
  text-align: center;
}

.hero-text .paragraph {
  text-align: center;
  width: 50%;
}

.art {
  flex: 0 0 40%;
  height: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3em;
  border: solid 2px black;
}

.hero-img {
  height: 450px;
}

.results-section {
  padding: 120px 0;

  background: #1f503e;
  background-image: url("./assets/sectionBg.png");
  background-blend-mode: exclusion;
  transition: opacity 6s ease;
  height: 1150px;
}

.result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 90%;
}

.result-box .title {
  color: white;
  font-weight: 400;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  flex: 0 0 35%;
  height: 100%;
}

.card {
  border-radius: 14px;

  opacity: 0;
  flex: 0 0 40%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

.card div {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}

.card-text-elements {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card:hover {
  background: rgba(105, 142, 45, 0.4);
  box-shadow: 10px 10px 20px -10px rgba(105, 142, 45, 0.2);
  border-right: 1px solid rgba(105, 142, 45, 0.2);
  border-bottom: 1px solid rgba(105, 142, 45, 0.2);
  backdrop-filter: blur(10px);
}

.card:hover .card-text,
.card:hover .card-number {
  color: white;
}

.card-text {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  color: #1f503e;
}

.card-number {
  color: #1f503e;
  font-family: "baloo 2", sans-serif;
  font-weight: 500;
  font-size: 3em;
}

.show {
  animation: cardEnter 2500ms ease both;
}

.showAbout {
  animation: cardEnter 1500ms ease both;
}

.show:nth-child(3) {
  animation: cardEnter 3500ms ease both;
}

.show:nth-child(4) {
  animation: cardEnter 3500ms ease both;
}

.callToAction-wrapper {
  padding-top: 15px;
  background: #2db5da3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 360px;
  transition: all 6s ease;
}

.leftEnter {
  animation: leftEnter 2.6s ease-out both;
}

.callToAction-text {
  border: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  text-align: center;

  background-image: url("./assets/hero.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callToAction-text .title {
  color: #2db5da;
  font-weight: 600;
}

.callToAction-text .paragraph {
  text-align: center;
}

.btn-callToAction {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 80px;
  border: solid 5px #2db5da;
  background: #2db5dac2;
  color: white;
  border-radius: 14px;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 350ms ease;
}

.btn-callToAction:hover {
  border: solid 5px #2db5dac2;
  background: white;
  color: #2db5da;
  height: 70px;
  width: 300px;
  transform: translateY(10px);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn-submit {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 80px;
  border: solid 2px #2db5da;
  background: #2db5dac2;
  color: white;
  border-radius: 14px;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 350ms ease;
  cursor: pointer;
}

.btn-submit:hover {
  border: solid 2px #2db5dac2;
  background: white;
  color: #2db5da;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  background-size: contain;
}

.about-wrapper .title {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(114, 113, 113);
}

.about {
  padding-top: 4rem;
  height: auto;
  display: flex;
  justify-content: center;
  transition: opacity 6s ease;
}

.about-bg {
  position: absolute;
  height: 810px;
  left: 0;
  opacity: 0.6;
}

.about-bg:nth-child(2) {
  height: 810px;
  left: 75%;
}

.about-bg img {
  height: 100%;
}
.about-resume {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-block {
  width: 50%;
  padding: 120px 60px;
  transition: opacity 4s ease;
  align-self: center;
  text-align: justify;
  background: #698e2d42;
  border-radius: 14px;
  box-shadow: 5px 9px 8px 2px rgba(0, 0, 0, 0.2);
}

footer {
  border-top: solid 2px silver;
  border-bottom: solid 2px silver;
  margin-top: 65px;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: auto;
  transition: all 350ms ease;
}
.content-wrapper-footer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.content-wrapper-footer .title {
  font-weight: 600;
  color: rgb(114, 113, 113);
  border-bottom: solid 4px silver;
  font-size: 1.4rem;
}

.logos-footer {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  flex: 0 0 100%;
  transition: opacity 6s ease;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 65px;
}

.contact-style {
  margin-top: 65px;
  background: #2db5da73;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px;
  border-radius: 14px;
  box-shadow: 0 7px 7px 2px rgba(0, 0, 0, 0.2);
  height: 600px;
  transition: opacity 6s ease;
}

#usrform {
  display: flex;
  flex-direction: column;
  height: 220px;
}

#usrform label {
  margin: 0.2em;
}

.main-form-title {
  color: #196980;
  font-weight: 600;
  font-size: 1.8rem;
}

.main-form-subTitles {
  font-weight: 500;
  color: #196980;
  font-size: 1.2rem;
}

.main-form-subTitles {
  margin-top: 1em !important;
}

.comment-title {
  margin-bottom: 0.2em;
}

#usrform input {
  padding: 15px;
  width: 350px;
  border: 0;
  background: #f2f2f2ce;
  box-shadow: 0 7px 7px 2px rgba(0, 0, 0, 0.2);
}

textarea {
  padding: 15px;
  width: 350px;
  height: 200px;
  margin-bottom: 1em;
  border: 0;
  background: #f2f2f2ce;
  box-shadow: 0 7px 7px 2px rgba(0, 0, 0, 0.2);
}

/*KINDLE E MONITORES COM RESOLUÇÃO BAIXA */

@media only screen and (max-width: 1000px) {
  .hero-text {
    width: 100%;
    padding: 0 2em;
  }

  .results-section {
    height: auto;
  }

  .result-box {
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-block {
    width: 90%;
  }
}

/*TABLET - IPAD  */

@media only screen and (max-width: 700px) {
  .hero {
    padding: 60px 0;
  }

  .hero-text {
    width: 95%;
    order: 2;
  }

  .hero-text .paragraph {
    width: 100%;
  }

  .HighLighted {
    font-size: 2rem;
  }
  .hero-elements {
    width: 100%;
    flex-direction: column;
  }
}

/*SMARTPHONE*/

@media only screen and (max-width: 480px) {
  .hero-text {
    padding: 0 1em;
  }

  .title {
    font-size: 2rem;
  }

  .card {
    flex: 0 0 95%;
  }

  .about-resume {
    width: 100%;
    padding: 0 0.8em;
  }

  .card-number {
    order: 2;
  }

  .about-block {
    width: 95%;
  }

  .about-block {
    padding: 15px;
  }

  .about-block {
    text-align: center;
  }

  .contact-style {
    width: 95%;
  }

  .navItems {
    display: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex !important;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #1f503e;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 180px;
    height: 300px;
    box-shadow: 0 0 10px #85888c;
    margin: -50px 0 0 -70px;
    padding: 30px;
    padding-top: 100px;
    background-color: #f2f2f2c0;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-110%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menu li a {
    text-transform: uppercase;
    font-size: 14px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

@keyframes cardEnter {
  0% {
    opacity: 0;
    transform: translateY(150px);
    height: 0px;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftEnter {
  0% {
    transform: translateX(-3500px);
    width: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
